<div class="row page-titles">
    <div class="col-md-12 align-self-center">
        <h4 class="mb-1 text-muted"> <i><img src="assets/img/metadata.png" /></i> Update Suggestions </h4>

    </div>

</div>

<div class="row">
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 offset-xl-3 mb-4">
        <div class="card border-0 rounded-0 h-100">

            <div class="card-body">

                <form [formGroup]="validatingForm">

                <div class="form-group">
                    <label>Select Suggestion Id <span class="colorred">*</span></label>
                    <select name="SuggestionsId" class="form-control" (change)="selectSuggestionsId($event)" size="10">
                        <option *ngFor="let suggestion of suggestionids" value={{suggestion.id}} [selected]="suggestion.id==suggestionData.id">
                                {{suggestion.id}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Suggestions </label>
                    <div class="form-control ctrheight1"[innerHtml]="suggestionData.suggestion" readonly ></div>
                    <!-- <textarea class="form-control ctrheight" formControlName="suggestion"  [(ngModel)]="suggestionData.suggestion" readonly></textarea> -->
                </div>

                <div class="form-group">
                    <label>Suggested By </label>
                    <input type="text" name="Status" formControlName="suggestedby"  [(ngModel)]="suggestionData.created_by_name" class="form-control" readonly/>
                   
                </div>

                <div class="form-group">
                    <label>Suggestion Date</label>
                    <!-- <input type="text" name="Status" formControlName="suggestiondate"  [(ngModel)]="suggestionData.created_date" class="form-control" readonly/> -->
                    <label  class="form-control" readonly>{{suggestionData.created_date| date: "dd-MM-yyyy"}} </label> 
                </div>

                <div class="form-group">
                    <label>Status </label>
                    <input type="text" name="Status" formControlName="status"  [(ngModel)]="suggestionData.status" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Action Taken </label>
                    <textarea name="ActionTaken" class="form-control ctrheight" formControlName="actiontaken"  [(ngModel)]="suggestionData.actiontaken" ></textarea>
                   
                </div>

                <div class="form-group pull-right">
                    <button class="btn btn-success" (click)="UpdateSuggestion()">Submit</button>
                </div>


                </form>
                
            </div>
        </div>
    </div>

</div>