.text-black a{
    color: #000;
    padding-left: 5px;
}

.text-black a:hover{
    color: rgb(8, 95, 194);
    text-decoration: none;
}

.text-size{
    font-size: 10px;
    font-style: italic;
}