<div class="row page-titles">
    <div class="col-md-6 align-self-center">
        <h4 class="mb-1 text-muted"> <i><img src="assets/img/filerecive.png" /></i> User Credentials</h4>
    </div>

</div>


<div class="row">
    <div class="col-md-12 mb-4 align-items-stretch">
        <div class="card border-0 rounded-0 h-100">
            <div class="card-body">
                <div class="table-responsive" id="Department_Master">
                    <table id="TblDatatable" class="table table-bordered table-striped">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Email Id</th>
                                <th scope="col">Password</th>
                                <th scope="col">Reg. Id</th>
                                <th scope="col">Reg. Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let credentials of userCredentialData ; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{credentials.username }}</td>
                                <td>{{credentials.email_id}}</td>
                                <td>{{credentials.password}}</td>
                                <td>{{credentials.registration_id}}</td>
                                <td>{{credentials.role}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="loaderwrapper" *ngIf="showLoader">
    <div class="loader">
   
    </div>
    <br/>
    <p id="loadertext">
      <label>Loading please wait...</label>
  </p>
  </div>