
<div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h4 class="mb-1 text-muted"> <i><img src="assets/img/changepassword.png"/></i> Change Password</h4>
          
        </div>
      
    </div>
    
    <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 offset-xl-3 mb-4">
              <div class="card border-0 rounded-0 h-100">
              
                <div class="card-body">
                <form [formGroup]="validatingForm">
                   

                  <div class="form-group">
                    <label>Old Password <span class="colorred">*</span></label>
                    <input  type="password" class="form-control" formControlName="oldpassword" [(ngModel)]="changepassword.oldpassword" />
                    <div  class="colorred" *ngIf="validatingForm.get('oldpassword').hasError('required') && validatingForm.get('oldpassword').touched"> Required</div>
                    <span class="colorred"> {{password_msg}} </span>
                </div>

                <div class="form-group">
                  <label>New Password <span class="colorred">*</span></label>
                  <input  type="password" class="form-control" formControlName="newpassword" [(ngModel)]="changepassword.newpassword" />
                  <div  class="colorred" *ngIf="validatingForm.get('newpassword').hasError('required') && validatingForm.get('newpassword').touched"> Required</div>
                 
              </div>

              <div class="form-group">
                  <label>Confirm Password <span class="colorred">*</span></label>
                  <input  type="password" class="form-control" formControlName="passwordConfirm" [(ngModel)]="changepassword.passwordConfirm" />
                  <div  class="colorred" *ngIf="validatingForm.get('passwordConfirm').hasError('required') && validatingForm.get('passwordConfirm').touched">Required</div>
                        <div  class="colorred" *ngIf="validatingForm.get('passwordConfirm').hasError('noMatch') && validatingForm.get('passwordConfirm').touched">Password does not match.</div>
                 
              </div>
              <div class="form-group">
                <button class="btn btn-success" (click)="ChangePassword()">Change Password</button>
                </div>

                
                </form>
                </div>
              </div>
            </div>
            
    </div> 
    <div class="loaderwrapper" *ngIf="showLoader">
      <div class="loader">
     
      </div>
      <br/>
      <p id="loadertext">
        <label>Loading please wait...</label>
    </p>
    </div>