
<div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h4 class="mb-1 text-muted"><i class="fa fa-eye"></i> File Preview </h4>
          
        </div>
      
    </div>
    <div class="row">
            <div class="col-md-12 mb-4 align-items-stretch">
              <div class="card border-0 rounded-0 h-100">
              
                <div class="card-body">
                        <div class="row">
                        
                           
                                <div class="col-lg-6 offset-md-3">
                       
                                    <form>
        
                                            <div class="form-group">
                                                    <label>Select File</label>
                                                    <select name="Department" class="form-control">
                                                            <option value="volvo">BSIP/ 2019-20/ Department Name/ 25</option>
                                                            <option value="fiat">BSIP/ 2019-20/ Department Name/ 26</option>
                                                            <option value="audi">BSIP/ 2019-20/ Department Name/ 27</option>
                                                      </select>
                                                  
                                                </div>                           
                                                                  
                                            </form>
                                                                        
                                                                     
                                </div>
                                  
                        </div>
                        <div class="container">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                            <a class="thumbnail" data-image-id="" data-toggle="modal" data-title=""
                                               data-image="assets/img/files/file1.jpg"
                                               data-target="#image-gallery">
                                                <img class="img-thumbnail"
                                                     src="assets/img/files/file1.jpg"
                                                     alt="Another alt text">
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                            <a class="thumbnail" data-image-id="" data-toggle="modal" data-title=""
                                               data-image="assets/img/files/file2.jpg"
                                               data-target="#image-gallery">
                                                <img class="img-thumbnail"
                                                     src="assets/img/files/file2.jpg"
                                                     alt="Another alt text">
                                            </a>
                                        </div>
                            
                                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                            <a class="thumbnail" data-image-id="" data-toggle="modal" data-title=""
                                               data-image="assets/img/files/file3.jpg"
                                               data-target="#image-gallery">
                                                <img class="img-thumbnail"
                                                     src="assets/img/files/file3.jpg"
                                                     alt="Another alt text">
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                            <a class="thumbnail" data-image-id="" data-toggle="modal" data-title="Test1"
                                               data-image="assets/img/files/file4.jpg"
                                               data-target="#image-gallery">
                                                <img class="img-thumbnail"
                                                     src="assets/img/files/file4.jpg"
                                                     alt="Another alt text">
                                            </a>
                                        </div>
                                   
                                     
                                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                                <a class="thumbnail" data-image-id="" data-toggle="modal" data-title="Test1"
                                                   data-image="assets/img/files/file5.jpg"
                                                   data-target="#image-gallery">
                                                    <img class="img-thumbnail"
                                                         src="assets/img/files/file5.jpg"
                                                         alt="Another alt text">
                                                </a>
                                            </div>
    
                                               <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                            <a class="thumbnail" data-image-id="" data-toggle="modal" data-title="Test1"
                                               data-image="assets/img/files/file7.jpg"
                                               data-target="#image-gallery">
                                                <img class="img-thumbnail"
                                                     src="assets/img/files/file7.jpg"
                                                     alt="Another alt text">
                                            </a>
                                        </div>
                            
                                    </div>
                            
                            
                                    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="image-gallery-title"></h4>
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                                                    </button>
                            
                                                    <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                
                </div>
              </div>
            </div>
            
          </div> 